:root{
  --gold:#ffcc00;
  --bg:#111;
  --card:#1e1e1e;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter,sans-serif;
}

body{
  background:var(--bg);
  color:white;
  line-height:1.6;
}

header{
  padding:80px 20px;
  text-align:center;
}

header h1{
  font-size:42px;
}

header h1 span{
  color:var(--gold);
}

header p{
  color:#aaa;
  max-width:600px;
  margin:15px auto;
}

.btn{
  display:inline-block;
  background:var(--gold);
  color:black;
  padding:12px 28px;
  border-radius:30px;
  text-decoration:none;
  font-weight:700;
  margin-top:20px;
}
section{
  padding:60px 20px;
  max-width:1000px;
  margin:auto;
}

h2{
  color:var(--gold);
  margin-bottom:25px;
  font-size:28px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:var(--card);
  padding:20px;
  border-radius:16px;
  border:1px solid #2a2a2a;
  transition:.3s;
}
.card:hover{
  border-color:var(--gold);
  transform:translateY(-4px);
}

.card a{
  color:var(--gold);
  text-decoration:none;
  font-size:14px;
}
.card ol li{
  list-style: none;
}
.card li{
  color: #aaa;
}

form{
  display:grid;
  gap:12px;
  max-width:500px;
}

input,select,textarea{
  background:#222;
  border:1px solid #333;
  color:white;padding:12px;
  border-radius:8px;
  width:100%;
}

footer{
  text-align:center;
  padding:30px;
  color:#666;
  border-top:1px solid #222;
  margin-top:40px;
}

@media(max-width: 768px){
  .grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}
.card h3{
  font-size: 16px;
}
.card ol li{
  font-size: 12px;
  list-style: none;
}
.card li{
  color: #aaa;
}
.nowrap{
  white-space: nowrap;
}
}